.page {
  font-family: var(--font-family, monospace);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.header__theme-menu {
  grid-column: span 3;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--menu-color);
}

.header__title {
  font-family: var(--font-family, monospace);
  grid-column: span 3;
  color: var(--title-color);
  line-height: 82.5%;
  font-weight: 700;
  text-shadow: 4px 4px 0px var(--title-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__theme-menu-button {
  font-size: 18px;
  font-family: var(--font-family, monospace);
  font-weight: 400;
  line-height: 18px;
  padding: 2px 13px;
  border: transparent;
  background: none;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.header__subtitle {
  grid-column: span 2;
  color: var(--subtitle-color);
  font-weight: 700;
  background-color: var(--title-shadow);
}


.header__rec {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  top: 10px;
  right: 38px;
  
}

.header__rec::before {
    content: 'REC';
    color: var(--rec-color);
    text-transform: uppercase;
  }

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 8px 9px 8px 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
  border-left: 1px solid var(--menu-color);
  border-bottom: 1px solid var(--menu-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  border-right: 1px solid var(--menu-color);
  border-top: 1px solid var(--menu-color);
}


.main {
  display: grid;
  padding: 40px 10px;
  row-gap: 50px;
}

.content {
  display: grid;
  row-gap: 20px;
}

.content.images {
  gap: 10px;
}

.content__heading {
  font-family: var(--font-family, monospace);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--heading-color);
}

.content.images .content__heading {
  background-color: var(--title-shadow);
  color: var(--list-color);
}

.content__card-list {
  display: grid;
  gap: 20px;
}

.content__list-item {
  display: grid;
  gap: 20px;
}

.content__card-item {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
}

.content__card-list-item {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
}
.content.how .content__card-item {
  row-gap: 20px;
}
.content__card-title {
  font-family: var(--font-family, monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--list-color);
  background-color: var(--title-shadow);
}

.content__card-item-title {
  color: var(--list-color);
  background-color: var(--title-shadow);
  font-weight: normal;
}

.content__card-paragraph,
.content__card-item-paragraph {
  color: var(--text-color);
}

.content__card-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--link-color);
}

.content__card-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid var(--text-color);
}


.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 668px;
  height: 100vh;
  padding: 10px;
}

.footer__title {
  font-family: var(--font-family, monospace);
  font-weight: 700;
  line-height: 129.53px;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {
  
  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::after {
    right: 20px;
    top: 20px;
  }

  .header__rec {
    right: 48px;
    top: 20px;
  }

  .header, .footer {
    padding: 20px;
  }

  .main {
    padding: 60px 20px;
    row-gap: 80px;
  }
  
  .header__title, .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    grid-column: -1/2;
  }


  .header__title {
    margin-inline-start: -20px;
  }

 
  .content {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .content.what .content__card-list {
    grid-column: span 2;
  }
 
  .content.images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content.images .content__heading {
    grid-column: 1/-1;
  }

  .content__image:nth-of-type(1) {
    grid-column: span 2;
  }

  .content__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .content__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .content__image:nth-of-type(5) {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  
  .header__title, .footer__title {
    --title-shadow: #FF0070;
  }
  
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .content.why,
  .content.how {
    column-gap: 12px;
  }

  .content.what .content__card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}